

body{
  background: white;
}

/*smartphone moblile (portrait)*/
@media (max-width: 480px){

}
header{
  min-height: 20%;
}
/*low resolution tablet, mobile (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  .hero{
    background-image: url("images/hero3.jpg");

    }
}

/*tablet, ipad (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) {
  .hero{
    background-image: url("images/hero.jpeg");

    }
}

/*laptops, destktop*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .hero{
    background-image: url("images/hero2.jpg");
    object-fit: cover;

    }
}

/*laptops, higher destktop résolution */
@media (min-width: 1281px)  {
.hero{
  background-image: url("images/hero.jpg");

  }
}
